$grid-size: 150px;

li.grid-cell {
  display: inline-block;
  position: relative;
  margin: 0px;
  overflow: hidden;
  margin-top: -6px;

  height: $grid-size;
  width: $grid-size;

  img {
    height: $grid-size;
    width: $grid-size;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: $grid-size / 2  * -1;
    margin-top: $grid-size / 2  * -1;

    z-index: -1;
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;

    margin-left: $grid-size / 2  * -1;
    margin-top: $grid-size / 2  * -1;
    line-height: $grid-size;

    text-align: center;
    color: #FFF;
    font-size: .5rem;

    background-color: rgba(0, 0, 0, 0.7);
  }

  a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
}


