#header {
  .navbar-brand {
    h4 {
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
    }

    a {
      color: #FFF;
    }
  }

  .nav-link {
    display: inline-block;
  }
}
